<div class='container center-block'>
    <h1>profile picture</h1>
    <img src="{{user.picture}}" alt="" class='img-circle '>

    <h1>Name</h1>
    {{user.name}}
    
     <h1>Username</h1>
    {{user.username}}

     <h1>email</h1>
    {{user.email}}
    
    <h1>About you</h1>
    {{user.about}}

     <h1>Coding languages you know</h1>
    {{user.skills}}

    <h1>What do you do?</h1>
    {{user.skills}}

    <button class='btn btn-primary'><a href="/update/{{user._id}}">Save changes</a></button>

</div>