<!-- home section-->
<!-- home section-->

  <div id="picture-sec" >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 text-center" id="mypicture">
          <img src="images/{{view.picture.originalname}}" class="img-circle center-block">
          <h1>{{view.username}} </h1>
        </div>
        <div class="col-sm-6 col-md-4 text-center" style="padding-top:60px;">
          <h1> {{view.name}}</h1>
          <br/>
          <em> {{view.stack}} Developer</em>
          <br>
          <span class="fa fa-map-marker" aria-hidden="true"> {{view.address}}</span></br>
        </div>

        <div class="col-sm-12 col-md-4 connect center-block text-center">
     <div id='contact-group'>
          <br>
          <div class="row">
            <i class='col-sm-10 fa fa-phone'><a href="tel:{{view.mobile}}"></a>{{view.mobile}}</i>
          </div>
          <br>
          <div class="row">
            <i class='col-sm-10 fa fa-envelope'><a href="mailto:{{view.email}}"></a>{{view.email}}</i>
          </div>
          <br>
          <i class='col-sm-10 fa-2x'>
            <ul class="list-inline">
              <li><a href="http://{{view.twitter}}" class="fa fa-twitter"></a></li>
              <li><a href="http://{{view.codepen}}" class="fa fa-codepen"></a> </li>
              <li><a href="http://{{view.github}}" class="fa fa-github"></a> </li>
              <li><a href="http://{{view.website}}" class='fa fa-globe'></a> </li>
            </ul>
          </i>
        </div>

        </div>
      </div>
    </div>
     </div>
    <br>
    <a href="{{view.github}}" class='btn btn-default text-center center-block' id='git'><i class='fa fa-github fa-3x'></i></a>
 
  <hr>
  <div class="container">
    <div>
      <div class="row well text-center">
        <div class="col-xm-12 col-sm-3 col-md-3">
          <strong>Interests<span class="fa fa-arrow-right" style ="padding-left:20px;"></span></strong>
        </div>
        <div class="col-xm-12 col-sm-3 col-md-3 ">
          <em>{{view.interest1}}</em>
        </div>
        <div class="col-xm-12 col-sm-3 col-md-3 ">
          <em>{{view.interest2}}</em>
        </div>
        <div class="col-xm-12 col-sm-3 col-md-3 ">
          <em>{{view.interest3}}</em>
        </div>
      </div>
    </div>
    <section>
      <div class="col-sm-12 col-md-8 ">
        <h2 class="text-center page-header">About me...<span class="fa fa-user " aria-hidden="true" style="padding-left:10px;"> </span> </h2>
        <div class="about info">
          <p>{{view.about}} </p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h2 class="text-center page-header">Professional Bio...<span class="fa fa-code " style="padding-left:10px;"></span></h2>
          <div class="bio info">

            <b class='color '>  Code! | Developer | JavaScript | <i class='fa fa-heart love ' ></i> </b>
            <br>
            <h3 class=' '>
              <u>Technical Skills</u>
            </h3>
            <ul class='list-unstyled '>
              {{view.skills}}
            </ul>
            <br>
          </div>
        </div>
      </div>
  </div>
  <hr>
  </section>